<!--
  Generated template for the CourseNotificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{courseNo}} by ({{creator}})  </ion-title>
    <ion-title center text-right>
        <ion-icon (click)="addNotification()"style="color:green" ios="ios-add-circle" md="md-add-circle"></ion-icon>
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    
      <ion-list>
        <b *ngIf="emptyMsg">
          Nothing here!
        </b>
        <button detail-none (click)="expandItem(item)" ion-item *ngFor="let item of notifications">
          <b>{{item['subject']}}</b>({{item['by']}})
          <p>Start Date:<br *ngIf="item[expanded]">{{item['from']}}</p>
          <expandable [expandHeight]="70" [expanded]="item['expanded']">
              End Date:<b>{{item['upto']}}</b><br>
              {{item['desc']}}
          </expandable>
          <!-- <button ion-button clear item-end>View</button> -->
        </button>
      </ion-list>
</ion-content>
