<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center> WelCome In Instifier</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-group>
      <ion-grid style="border: 2px solid;" *ngFor="let item of course_key;let i = index;">
        <ion-row style="color:black;font-size:27px;">
          <ion-col col-10>
            {{item}}
          </ion-col>
          <ion-col col-2>
            <ion-icon *ngIf="courses[item]['noti'] == false" (click)="changeNotification(item)" name="notifications-off" style="color:red"></ion-icon>
            <ion-icon *ngIf="courses[item]['noti'] == true" (click)="changeNotification(item)" name="notifications" style="color:green"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid> 
      <br><br>     
    </ion-item-group>
    <br>
  </ion-list>
</ion-content>
